<form action="/signup" method="POST">
		<h3>Edit your profile!</h3>
				<div class="row">
	        <div class="input-field col s12">
	          <input id="<%= @user.user_name %>" type="text" class="validate">
	          <label for="user_name">Username</label>
	        </div>
	      </div>
	        <div class="input-field col s12">
	          <input id="<%= @user.password %>" type="password" class="validate">
	          <label for="password">Password</label>
	        </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="<%= @user.email %>" type="email" class="validate">
	          <label for="email">Email</label>
	        </div>
	      </div>
	    </form>
	  </div>
</form>
