<div class="error_message">
  <% if flash[:error]%>
    <%=flash[:error]%>
  <% end %>
</div>

<h3>Login</h3>
<form action="/login" method="POST">
   <div class="row">
   <div class="twelve columns">
      <label for="Username">Username</label>
      <input class="u-full-width" type="text" name="user_name" required>
   </div>
   <div class="twelve columns">
      <label for="exampleEmailInput">Password</label>
      <input class="u-full-width" type="password" name="password" required>
   </div>
   <input class="button button-primary" type="submit" value="Log In">
</form>
