<h3>Login</h3>
<form action="/login" method="POST">
  <div class="row">
    <div class="twelve columns">
      <label for="Username">Username</label>
      <input class="u-full-width" type="text" placeholder="" name="user_name">
    </div>
    <div class="twelve columns">
      <label for="exampleEmailInput">Password</label>
      <input class="u-full-width" type="password" placeholder="" name="password">
    </div>
  <input class="button-primary" type="submit" value="Log In">
</form>
