<h3>Create a profile</h3>
<form action="/signup" method="POST">
  <div class="row">
    <div class="twelve columns">
      <label for="Username">Username</label>
      <input class="u-full-width" type="text" name="user_name">
    </div>
    <div class="twelve columns">
      <label for="exampleEmailInput">Email</label>
      <input class="u-full-width" type="email" name="email">
    </div>
    <div class="twelve columns">
      <label for="exampleEmailInput">Password</label>
      <input class="u-full-width" type="password" name="password">
    </div>
  <input class="button-primary" type="submit" value="Submit">
</form>
