<div class="container white">
  <h3><%= @user.user_name%></h3>

  <div class="divider"></div>
  <div class="section">
    <h5>Your notes</h5>
    <p>Stuff</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Your bucket list</h5>
    <p>Stuff</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Your been to list</h5>
    <p>stuff</p>
  </div>
