<div class="container white">
  <h3><%= @user.user_name%></h3>


  <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Your notes</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Parks you've been to</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">control_point</i>Parks on your bucket list</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
