
<p style="color:#888" align="center">Sinatra portfolio project for the Flatiron School</p>

<div class="collection">
  <a style="color:#33C3F0" href="#!" class="collection-item">GitHub</a>
  <a style="color:#33C3F0" href="#!" class="collection-item">Demo</a>
  <a style="color:#33C3F0" href="#!" class="collection-item">Blog</a>
</div>


<p align="center"><a class="button button-primary" href="mailto:rachel.hawa@gmail.com?subject=sinatra-project-feedback">email me</a>
</p>
