<h3 style="color:#888" align="center">Welcome!</h3>
<div class="" align="center">
   <a align="center" class="button button-primary" href="/login">Login</a>
   <a align="center" class="button button-primary" href="/signup">Sign up</a>
</div>
