<h3 align="center">Welcome!</h3>
<div class="" align="center">
   <a align="center" class="button button-primary" href="/login">Login</a>
   <p>or</p>
   <a class="button button-primary" href="/signup">Sign up</a>
</div>
